<div class="header-container position-absolute w-100">
    <div class="d-flex header-bar align-items-center">
        <div class="header-item logo-container font-weight-bolder">NT.</div>
        <div class="header-item tours">tours</div>
        <div class="header-item  special-offers">special offers</div>
        <div class="header-item articles">articles</div>
        <div class="header-item-button contact-us btn mb-2 mx-3">contact us</div>
        <div class="header-item right-section"></div>
    </div>
</div>