@font-face {
    font-family: 'AA Bebas Neue';
    src: url('AABebasNeue.eot');
    src: local('AA BebasNeue'), local('AABebasNeue'),
        url('AABebasNeue.eot?#iefix') format('embedded-opentype'),
        url('AABebasNeue.woff2') format('woff2'),
        url('AABebasNeue.woff') format('woff'),
        url('AABebasNeue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

