@font-face {
    font-family: Delicious;
    src: url('../../../Assets/typeface/aabaesneiue/AABebasNeue.ttf');
}

@font-face {
    font-family: Aeroport;
    src: url('../../../Assets/typeface/aeroport/Aeroport.otf');
}

body {
    app-root {
        font-family: 'Aeroport', Fallback, sans-serif;
    }
}
.app-container {
    .main-container {
        .carousel {
            .carousel-background {
                background-image: url("./../../../Assets/Italy/italy-banner.jpg");
                background-position: center;
                background-size: cover;
                height: 100vh !important;
            }
        }
    }
}